{% extends 'base.html' %}
{% block content %}

<!-- Masthead-->
<header class="masthead">
    <div class="container h-100">
        <div class="row h-100 align-items-center justify-content-center text-center">
            <div class="col-lg-10 align-self-end">
                <h1 class="text-white">Déconnexion à votre compte</h1>
                <hr class="divider my-4" />
            </div>
            <div class="col-lg-8 align-self-baseline">
            </div>
        </div>
    </div>
</header>

<section class="page-section">
    <div class="container h-100">
        <div class="content-section">
            <legend class="border-bottom mb-4">Déconnexion !</legend>
            <small class="text-muted">
                Vous reconnecter ?<a class="ml-2" href="{% url 'register' %}">Reconnexion</a>
            </small>
        </div>
    </div>
    </div>
</section>

{% endblock content %}