{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}

<!-- Masthead-->
<header class="masthead">
    <div class="container h-100">
        <div class="row h-100 align-items-center justify-content-center text-center">
            <div class="col-lg-10 align-self-end">
                <h1 class="text-white">Mise à jour de votre mot de passe</h1>
                <hr class="divider my-4" />
            </div>
            <div class="col-lg-8 align-self-baseline">
            </div>
        </div>
    </div>
</header>

<section class="page-section">
    <div class="container">
        <div class="content-section">
            <form method="POST">
                {% csrf_token %}
                <fieldset class="form-group">
                    <legend class="border-bottom mb-4">Mise à jour de mot de votre passe !</legend>
                    <div class="row h-100 align-items-center justify-content-center text-center">
                        <div class="col-lg-6 col-md-12">
                            {{ form|crispy }}
                        </div>
                    </div>
                </fieldset>
                <div class="form-group">
                    <div class="row h-100 align-items-center justify-content-center text-center">
                        <button class="btn btn-primary js-scroll-trigger" type="submit">Mettre à jour</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</section>

{% endblock content %}