{% extends 'base.html' %}
{% block content %}

<!-- Masthead-->
<header class="masthead">
    <div class="container h-100">
        <div class="row h-100 align-items-center justify-content-center text-center">
            <div class="col-lg-10 align-self-end">
                <h1 class="text-white">Mentions légales</h1>
                <hr class="divider my-4" />
            </div>
            <div class="col-lg-8 align-self-baseline">
            </div>
        </div>
    </div>
</header>

<section class="page-section">
    <div class="container">
        <div class="content-section">
            <legend class="border-bottom mb-4">Projet réalisé dans le cadre du parcours Développeur Python <a
                    href="https://openclassrooms.com/fr/paths/322-developpeur-dapplication-python"
                    target="_blank">OpenClassrooms.</a></legend>
            <ul>
                <li>Données/API: <a href="https://world.openfoodfacts.org/data" target="_blank">OpenFoodFacts</a></li>
                <li>Déployement: <a href="https://www.heroku.com/" target="_blank">Heroku</a></li>
                <li>Design: <a href="https://startbootstrap.com/theme/creative" target="_blank">Template
                        Bootstrap Creative</a></li>
                <li>Ressources graphiques: <a href="https://unsplash.com" target="_blank">unsplash.com</a> & <a
                        href="https://thenounproject.com" target="_blank">thenounproject.com</a></li>
                <li>Les images en lien avec le film 'Ratatouille' sont la propriété de <a href="https://disney.fr/"
                        target="_blank">Disney</a></li>
            </ul>
        </div>
    </div>

</section>

{% endblock content %}