{% extends 'base.html' %}
{% block content %}
{% load static %}

<!-- Masthead-->
<header class="masthead">
    <div class="container h-100">
        <div class="row h-100 align-items-center justify-content-center text-center">
            <div class="col-lg-10 align-self-end">
                <h1 class="text-white">{{ title }}</h1>
                <hr class="divider my-4" />
            </div>
            <div class="col-lg-8 align-self-baseline">
            </div>
        </div>
    </div>
</header>

<div class="jumbotron">
    <h2 class="text-center">{{ sentence }}</h2>
</div>

<section>
    <div class="container">
        <div class="row">
            {% for product in products %}
            {% if product.nutrition_grade and product.photo_url %}
            <div class="col-lg-4 col-md-12">

                <a href="{% url 'food_choice:product' product.id %}" title="Fiche produit" target="_blank">
                    <div class="card mx-1 my-3 shadow p-3 mb-5 bg-white rounded">
                        <img class="card-img-top" src="{{ product.photo_url }}" alt="Image du produit">

                        {% if product.nutrition_grade == "A" %}
                        <span class="nutriscore-A">A</span>
                        {% elif product.nutrition_grade == "B" %}
                        <span class="nutriscore-B">B</span>
                        {% elif product.nutrition_grade == "C" %}
                        <span class="nutriscore-C">C</span>
                        {% elif product.nutrition_grade == "D" %}
                        <span class="nutriscore-D">D</span>
                        {% elif product.nutrition_grade == "E" %}
                        <span class="nutriscore-E">E</span>
                        {% endif %}

                        <div class="card-body text-center">
                            {% if product.name %}
                            <h6 class="card-title">{{ product.name }}</h6>
                            {% else %}
                            <h6 class="card-title">Nom: non renseigné</h6>
                            {% endif %}

                            <a class="btn btn-primary js-scroll-trigger"
                                href="{% url 'food_choice:substitutes' product.id %}">
                                <img src="{% static 'src/assets/img/substitute.png' %}" alt="Substituer">
                                Substituer</a>
                        </div>
                    </div>
                </a>
            </div>
            {% endif %}
            {% endfor %}
        </div>
    </div>
</section>

{% endblock content %}